{# templates/index.html.twig #}
{# @var form \Symfony\Component\Form\FormView #}
{# @var loanData array #}
{# @var formErrors array|string[] #}

{% extends 'base.html.twig' %}

{% block body %}

<style>

p {
  color: purple;
  font-size: 200%;
  border: 5px solid powderblue;
  padding: 30px;
  margin: 50px;
}
</style>

	<h1 style="color:blue;font-size: 500%;margin: 50px;">Loan Estimation Tool</h1>
	
	<p>Fill out the short form below to get a quick estimate on a loan</p>
	
	<div class="content">
		{{ form(form) }}
	</div>

	<div class="results">
	{% if formErrors %}
		{% for error in formErrors %}
			<p>{{ error }}</p>
		{% endfor %}
	{% elseif loanData %}
		<h2 style="color:blue;font-size: 300%;margin: 50px;">Your Estimated Loan:</h2>
		<ul>
			<li>Origination Fee: ${{ loanData.fee }}</li>
			<li>Interest Rate: {{ loanData.interestRate }}%</li>
			<li>Monthly Payment: ${{ loanData.payment | number_format(2) }}</li>
			<li>Annual Percentage Rate: {{ loanData.apr }}%</li>
		</ul>

	{% endif %}
	</div>

	<button type="button" class="collapsible">Click to view/hide Amortization Table</button>
	<div class="table">
		{% if amortizationTable %}
			<Collapsible>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Month</th>
						<th>Payment</th>
						<th>Interest</th>
						<th>Unpaid Balance Reduction</th>
						<th>Unpaid Balance</th>
					</tr>
				</thead>
				<tbody>
					{% for row in amortizationTable %}
						<tr>
							{% for col in row %}
								<td>{{ col }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody
			</table>

		{% else %}
			<p>No Amortization Table Created</p>
		{% endif %}
	</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

{% endblock %}
